.Upper{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.Upper *{
    padding: 0;
    margin: 0;
}

.Left{
    width: 75%;
    background-color: #2C3E50;
    clip-path: polygon(  0% 0%,   100% 0%,   80% 100%,  0% 100%  );
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10%;
    
}
.Right{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20%;
}

.HeaderLeft{
    padding-left: 13.2%;
    padding-right: 5.5%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Logo{
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
}

.LeftButton {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
}


.HeaderRight{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 15%;
    color:#2C3E50;
    padding-right: 40%;
    height: 120px;
}

.HeaderRight a{
    color:#2C3E50;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
}


.MainLeft{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.LeftTitles{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 40%;
}

.LeftTitles h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.LeftTitles p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.MainLeft form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.MainLeft form input{
    box-sizing: border-box;
    display: flex;
    padding: 14px 170px 14px 20px;
    background-color: #ECF0F1;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
}

.MainLeft a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-left: 0%;
    width: 90%;
    gap: 10px;
    background: #CD5656;
    box-shadow: 0px 16px 44px -12px rgba(205, 86, 86, 0.35);
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.MainRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.MainRight h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2C3E50;
}

.MainRight a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 80px;
    margin-left: 0%;
    gap: 10px;
    background: #2C3E50;
    box-shadow: 0px 16px 44px -12px rgba(205, 86, 86, 0.35);
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}