*{
    margin: 0;
    padding: 0;
}

.Block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 100%;
}

.AllBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px;
    gap: 40px;
    background: #FFFFFF;
    box-shadow: 0px 12px 33px -6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
}

.BLockHeader{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
}

.Table{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.TableHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.TableHeader p{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    
}

.Rows{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    gap: 25px;
}

.TableRow{
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    gap: 50px;
}

.TableRow p{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #000000;
}

.First{
    width: 600px;
}

.Twice{
    width: 70px;
    justify-content: center;
}

.Third{
    width: 55px;
    justify-content: center;
}
.Four{
    width: 120px;
    justify-content: center;
}


.Five{
    width: 170px;
    justify-content: center;
}

.Star{
    width: 30px;
}